@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f2efc5;
 
}



.my-custom-class {
  height: 4000px;
}


.min-h-screen {

  min-height: 100vh;
}

.flex {

  display: flex;
}

.items-center {

  align-items: center;
}

.justify-center {
  
  justify-content: center;
}

.bg {

  background-image: url('../src/assets/image7.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}


.bg2 {
 
  background-image: url('../src/assets/image7.jpg'); 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat; 
}




.sidebar-container {
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; 
  width: 20%;
  background-color: #464931; 
  border-radius: 20px; 
  padding: 20px; 
  overflow-y: auto; 
  transition: width 0.3s ease; 
}




.flex-1 {
  flex: 1;
}


.ml-8 {
  margin-left: 20vw;
}


.flex-none {
  flex: none;
}





.footer-expanded {
  width: 80%;
}


.footer-collapsed {
  width: 100%; 
}



.reminder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .reminder-container > * {
  flex-basis: calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  margin: 0.5rem;
} */

/* @media (max-width: 768px) {
  .reminder-container > * {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
} */


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 10;
}


.content {
  flex-grow: 1;
}






.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px; 
  background-color: #f2f2f2; 
  z-index: 1;
  transition: width 0.2s;
}

.content {
  margin-right: 260px; 
  flex-grow: 1;
}

.sidebar--minimized {
  width: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    margin-right: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar--minimized {
    width: 0;
    display: none;
  }

  .content {
    margin-right: 0;
  }
}




.card {
  margin-bottom: 1rem;
}



.reminder-card {
  transition: all 0.3s ease-in-out;
}

.reminder-card:hover {
  transform: scale(1.1);
}



.water-effect {
  background-image: linear-gradient(to bottom, #1abc9c, #ffffff);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* .max-w-md {
  max-height: 400px; 
  overflow-y: auto; 
} */

.p-6 {
  height: auto; 
}

.cardimpact {
  border-bottom: 2px solid black;
}

.cardevent {
  border-bottom: 2px solid #8f7300;
}

.impact-modal {
  
  overflow-y: auto; 
}

.p-7 {
  height: auto;
}


.text-center {
  text-align: center;
}


.image-btn {
  background-image: url('/src/assets/mpesa-logo.png');
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  width: 110px;
  height: 50px;
}

/* 
.mpesa {
  background-image: url('/src/assets/mpesa-logo.png');
  text-indent: -9999px;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  width: 200px;
  height: 50px;
} */

.mpesa {
  background-image: url('/src/assets/mpesa-logo.png');
  text-indent: -9999px;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
