 .text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 45px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dummy-container {
    width: 100%;
    height: 900px;
  }
  .rectangle113 {
    width: 248px;
    height: 82px;
    position: relative;
    border-color: transparent;
    border-radius: 80px;
  }
  .dummy-container {
    width: 100%;
    height: 900px;
  }
  .titleicon5 {
    width: 90px;
    height: 86px;
    position: relative;
    border-color: transparent;
  }