<!DOCTYPE html>
<html>
  <head>
    <title>Mazingira API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mazingira API</a>
          <a href="/api-docs">Docs</a>
          <%# <a href="#pricing">Pricing</a></div> %>
          <%# <a href="#contact">Contact</a> %>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1>Welcome to Mazingira API</h1>
             <p>Mazingira API is a RESTful web service that provides access to environmental data collected from various sources around the world. Our API is designed to be easy to use and flexible enough to fit a wide range of applications.</p>
          <h4>Problem Statement</h4>
             <p>Environmental degradation is the disintegration of the earth or deterioration of the environment through the consumption of assets, for example, air, water, and soil; the destruction of environments and the eradication of wildlife.It is characterized as any change or aggravation to nature’s turf seen to be pernicious or undesirable.This process leads to the endangerment of the human race, however, there are limited resources to help combat this at this time.</p>
          <h4>Solution</h4>
              <p>One of the ways the organization is looking to raise funds is by encouraging repeat donations. The goal would be to create a platform that allows users to donate to organizations such as this one regularly, to enable the organization to meet their goals. They are looking to create a product that automates the donation process by allowing donors to set up regular donations e.g monthly donations of stipulated amounts.</p>

        </div>
      </div>

      <div classs="row">
        <div class="col s12">
          <h2>Features</h2>
          <ul>
            <li>Access to a wide range of environmental data</li>
            <li>Flexible API that can be used in a variety of applications</li>
            <li>Easy-to-use API documentation</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h2>Pricing</h2>
          <p>Our API is currently available for free.</p>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h2>Contact Us</h2>
          <p>If you have any questions or feedback, please don't hesitate to contact us at .</p>
          <ul>
            <li><a href="mailto:stevekid705@gmail.com">Stephen-Nene</a></li>
            <li><a href="https://github.com/JoseMwanzia">Joseph-Mwanzia</a></li>
            <li><a href="https://github.com/Stiflerzak">Hilary-Mwendia</a></li>
            <li><a href="https://github.com/treva556">Mark-njogu</a></li>
            <li><a href="mailto:bruno.kiptoo@student.moringaschool.com">Bruno-Kiptoo</a></li>
          </ul>
        </div>
      </div>
    </div>

    <style>

      </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
