<h1>Editing user engagement</h1>

<%= render "form", user_engagement: @user_engagement %>

<br>

<div>
  <%= link_to "Show this user engagement", @user_engagement %> |
  <%= link_to "Back to user engagements", user_engagements_path %>
</div>
